name: CI

on:
  push:
    branches:
      - main
    
  pull_request:
    branches:
      - main

env:
  # Change the pyproject and cargo too if changing this
  PY_VERSION: "3.9"

defaults:
  run:
    shell: bash

jobs:
  # Quick CI on MacOS, Windows and Ubuntu
  CI:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
            python-version: ${{ env.PY_VERSION }}
            cache: pip
      
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@02be93da58aa71fb456aa9c43b301149248829d8 # v1
        with:
          components: rustfmt
        
      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Maturin build
        run: |
          maturin build --release --out dist
          pip install dist/*
          
      - name: Run test and formatting
        run: |
          shopt -s globstar
          pytest --benchmark-skip
          ruff check . && ruff format --diff
          rustfmt --check src/**/*.rs