name: CI

on:
  push:
    branches:
      - main
    
  pull_request:
    branches:
      - main

env:
  PY_VERSION: "3.10"

defaults:
  run:
    shell: bash

jobs:
  # Quick CI on MacOS, Windows and Ubuntu
  CI:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
            python-version: ${{ env.PY_VERSION }}
            cache: pip
      
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          components: rustfmt, clippy
        
      # Runs scripts/install.sh. Also runs chmod +x on all shell scripts
      - name: Maturin build
        run: |
          chmod +x scripts/*
          scripts/install.sh
          
      # Runs scripts/CI.sh
      - name: Run tests, linting and formatting
        run: |
          scripts/CI.sh
          