name: CI

on:
  push:
    branches:
      - main
    
  pull_request:
    branches:
      - main

env:
  PY_VERSION: "3.10"

defaults:
  run:
    shell: bash

jobs:
  # Quick CI on MacOS, Windows and Ubuntu
  CI:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ubuntu-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          python-version: ${{ env.PY_VERSION }}
      
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: rustfmt, clippy
        
      - name: Create virtual environment
        run: | 
          uv venv
          
      # Runs scripts/install.sh. Also runs chmod +x on scripts/*
      - name: Maturin build
        run: |
          chmod +x scripts/*
          scripts/install.sh --no-docs
          
      # Runs scripts/CI.sh
      - name: Run tests, linting and formatting
        run: |
          scripts/CI.sh
          