name: CI

on:
  push:
    branches:
      - main
    
  pull_request:
    branches:
      - main

env:
  PY_VERSION: "3.10"

defaults:
  run:
    shell: bash

jobs:
  # Quick CI on MacOS, Windows and Ubuntu
  CI:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
            python-version: ${{ env.PY_VERSION }}
            cache: pip
      
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          components: rustfmt, clippy
        
      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Maturin build
        run: |
          maturin build --release --out dist
          pip install dist/*
          
      # Enbles globstar for recursive checks
      # Runs tests but skips benchmarks
      # Ruff checks and shows diff if any formatting is needed
      # Rustfmt checks all Rust files in src/ciphers
      # Clippy checks all targets and features, denies warnings
      - name: Run tests, linting and formatting
        run: |
          shopt -s globstar
          pytest --benchmark-skip
          ruff check . && ruff format --diff
          rustfmt --check src/**/*.rs
          cargo clippy --all-targets --all-features -- -D warnings